body {
  font-family: sans-serif;
}

div {
  width: 300px;
  min-height: 250px;
  max-height: 600px;
  background-color: gray;
  /* margin: 20px 60px 80px 120px; */
  /* margin-left: 30px;
  margin-bottom: 60px; */
  margin: 10px;
  /* border-width: 10px;
  border-style: solid;
  border-color: brown; */
  border: 10px solid #dc143c;
  padding: 20px;
  box-sizing: border-box;
}
