body {
  background-color: #1a1b18;
  color: #d1d1c1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 20px;
}

/* 
Container principal
*/

main {
  max-width: 1000px;
  margin: 0 auto;
}

/* Seletor de classe */

.nav-link {
  color: rgb(240, 215, 183);
  font-size: 16px;
  text-decoration: none;
}

/* Seletor de ID */

#active-link {
  color: red;
  border-radius: 5px;
}

#menu {
  background-color: rgb(196, 153, 98);
  border-radius: 5px;
  list-style: none;
  padding: 20px;
}

#menu li {
  display: inline-block;
  margin: 0 20px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}
